@import url('https://fonts.googleapis.com/css?family=Gelasio:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

$text-font: 'Gelasio',
serif;
$heading-font: 'Libre Baskerville',
serif;
$main-font: 'Baskervville',
serif;